celery==5.6.3
kombu==5.6.2
amqp==5.3.1
billiard==4.2.4
vine==5.1.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
python-socketio==5.16.2
psycopg2-binary==2.9.11
python-dotenv==1.2.2
twilio==9.10.4
