# =========================
# 🔐 Variables sensibles
# =========================
.env

# =========================
# 🐍 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/
.venv/

# =========================
# 🧪 Logs
# =========================
*.log

# =========================
# 💾 Archivos temporales
# =========================
*.tmp
*.swp

# =========================
# 🖥️ Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# 🧠 IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# ⚙️ Ejecutables
# =========================
*.exe

# 👉 EXCEPCIÓN (importante)
!ngrok.exe

# =========================
# 📦 Build
# =========================
dist/
build/